header {
    height: 100px;
  }
  
  .site-logo {
    font-size: 1.5em;
  }
  .bg-secondary-theme {
    background-color: var(--secondary-color);
  }
  .btn-theme {
    height: 58px;
    border: none;
    background-color: var(--primary-color);
  }